

.saving-image{
    background-image: url('https://i.ibb.co/VTzM9xZ/680116-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-attachment: fixed;
    transition:5s;
    animation-duration: 2s;
    
}

.saving-image:hover{
    background-image: url('https://i.ibb.co/sqcpRLp/680104.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.saving-text{
    text-align: justify;
}

.saving-text h1{
    color: #eb3e32;
}

.saving-text h3{
    font-size: 60px;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.555);
}

.saving-text h2{
    color: whitesmoke;
}

.saving-button{
    padding: 15px 50px;
    margin-top:20px;
    background-color: #ec2e0d;
    border: none;
    color:whitesmoke;
    transition: 2s;
}

.saving-button:hover{
background-color: aliceblue;
color: black;
}