


.footer-style{
    background-color: rgba(0, 0, 0, 0.863);
    color: whitesmoke;
    /* text-align: justify; */
    padding: 20px;

}

.footer-details{
    text-align: justify;
}

.footer-details h2{
    margin-bottom: 20px;
}

.footer-details h6, h4{
color: darkgrey;
}

.footer-get{
    text-align: justify;
}

.footer-help{
    text-align: justify;
}

/* footer-menu-style */

.footer-menu p{
    color: darkgrey;
}


/* footer-get-in-touch-style */

.footer-get p{
color: darkgrey;
}


/* footer-help-style */

.footer-help p{
    color: darkgrey;
}

/* icon-style */

.footeer-icon{
font-size:40px;
background-color: darkblue;
padding: 10px;
border-radius: 5px;
/* color:darkblue; */
transition: 1s;
margin: 2px;
}

.footeer-icon:hover{
font-size:50px;
background-color: black;
padding: 10px;
border-radius: 5px;
}

/* footer-payment-system */
.footer-payment{
    background-image: url('');
}

/* payment style */

.pay-image{
    background-image: url('https://i.ibb.co/j8ZHs0j/payment-card.webp');
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
}

.footer-pay-style{
background-color: #5a545411;
padding:5px;
}

.made-name{
    text-align: justify;
}

